<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row d-flex align-items-center">
                <div class="col-auto" style="cursor: pointer;" routerLink='/'>
                    <img src="/assets/shop.png" class="img-fluid" height="100px" width="100px" alt="">
                </div>
                <div class="fs-3 text-success ms-3 col">
                    E-Grocer: Fresh Food Directly from Farm
                </div>
                <div class="col-auto d-flex my-auto">
                    <mat-form-field appearance="outline">
                        <mat-label>Search</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-auto ms-auto text-success d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                    <div class="circle d-flex align-items-center justify-content-center mt-auto text-dark">
                        {{commonService.totalCartItems}}</div>
                </div>
                <div class="col-auto">
                    <button class="btn btn-success">Login</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-12">
            <img src="/assets/header.jpg" width="100%" height="400px" alt="">
        </div>
    </div>
    <ng-container *ngIf="!commonService.orderPlacedStatus">
        <div class="row">
            <div class="col-12 fs-1">
                Shipping
            </div>
        </div>
        <div class="row my-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input type="text" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input type="text" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Address</mat-label>
                            <input type="text" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>City</mat-label>
                            <input type="text" matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12 fs-3">
                        Order Summary
                    </div>
                    <div class="col-12">
                        You have {{commonService.totalCartItems}} items in your cart
                    </div>
                    <div class="col-12" *ngIf="commonService.totalCartItems > 0">
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" *ngFor="let i of commonService.cartItems">
                                    <div class="row">
                                        <div class="col">
                                            {{i.selected}} x {{i.name | titlecase}}
                                        </div>
                                        <div class="col-auto">
                                            Rs. {{i.selected * i.price}}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            Total
                                        </div>
                                        <div class="col-auto">
                                            Rs. {{commonService.totalPrice}}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-success" (click)="commonService.orderPlacedStatus = true">Place Order</button>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="commonService.orderPlacedStatus">
        <div class="row">
            <div class="col-12 fs-1">
                Thank you for shopping with us
            </div>
            <div class="col-12">
                Your order is confirmed, you should receive an email shortly.
            </div>
        </div>
    </ng-container>
</div>